Node-Red Flows/Decrypt+Fire (1).json
[{"id":"8323261b.44a1b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed7e3292.567fd","type":"function","z":"8323261b.44a1b8","name":"Decrypt Payload","func":"var msg1 = { payload: msg.payload.length};\nmsg1.payload=JSON.parse(msg.payload);\nvar msg2 = { payload: {\n    payload_fields: msg1.payload.object.length, dev_id: msg1.payload.deviceName.length}};\nmsg2.payload.payload_fields = msg1.payload.object;\nmsg2.payload.dev_id = msg1.payload.deviceName;\nreturn msg2;","outputs":1,"noerr":0,"x":920,"y":460,"wires":[["96f60f60.70bce","7294dc85.d38db4","2ba59a84.bba306"]]},{"id":"96f60f60.70bce","type":"function","z":"8323261b.44a1b8","name":"CheckFireScenario","func":"var varFire;\nvar dev_id = msg.payload.dev_id;\nif ((msg.payload.payload_fields.celsius > 75.0) || (msg.payload.payload_fields.humidity < 0.2) || (msg.payload.payload_fields.gas > 512)){\n    varFire = 1;\n    \n}\nelse{\n    varFire = 0;\n}\nvar msg2 = { payload: varFire,device_id: dev_id};\nreturn msg2;","outputs":1,"noerr":0,"x":1150,"y":460,"wires":[["a8891d04.63dfd","363038e5.490128"]]},{"id":"c609a37b.3d3d3","type":"json","z":"8323261b.44a1b8","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":300,"wires":[["607ed32.770712c","ebe02e04.d801d"]]},{"id":"ec869f79.05afb","type":"join","z":"8323261b.44a1b8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":630,"y":460,"wires":[["e08b8151.548d1"]]},{"id":"a8891d04.63dfd","type":"debug","z":"8323261b.44a1b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":460,"wires":[]},{"id":"363038e5.490128","type":"link out","z":"8323261b.44a1b8","name":"","links":["ca9df4f.eb16208","e44fa898.c743f8","40272e86.9f19a"],"x":1375,"y":540,"wires":[]},{"id":"607ed32.770712c","type":"mqtt out","z":"8323261b.44a1b8","name":"","topic":"Sensor/Data1","qos":"","retain":"","broker":"65f4631d.04023c","x":1340,"y":300,"wires":[]},{"id":"7294dc85.d38db4","type":"switch","z":"8323261b.44a1b8","name":"","property":"payload.dev_id","propertyType":"msg","rules":[{"t":"eq","v":"draginotest","vt":"str"},{"t":"eq","v":"dragino2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":380,"wires":[["c609a37b.3d3d3"],["a3dfefe.53ac31"]]},{"id":"a3dfefe.53ac31","type":"json","z":"8323261b.44a1b8","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":400,"wires":[["68378e21.d4e88","81b625c7.f711d8"]]},{"id":"68378e21.d4e88","type":"mqtt out","z":"8323261b.44a1b8","name":"","topic":"Sensor/Data2","qos":"","retain":"","broker":"fdc4aadd.ac0458","x":1340,"y":360,"wires":[]},{"id":"81b625c7.f711d8","type":"debug","z":"8323261b.44a1b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":420,"wires":[]},{"id":"ebe02e04.d801d","type":"debug","z":"8323261b.44a1b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":260,"wires":[]},{"id":"2ba59a84.bba306","type":"debug","z":"8323261b.44a1b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"72c49965.8fd6f8","type":"split","z":"8323261b.44a1b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":460,"wires":[["ec869f79.05afb"]]},{"id":"fff5874d.295a78","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/3bbd62a529fb698c/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":180,"wires":[["72c49965.8fd6f8"]]},{"id":"b7e4ae75.f4094","type":"debug","z":"8323261b.44a1b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":560,"wires":[]},{"id":"e08b8151.548d1","type":"json","z":"8323261b.44a1b8","name":"","property":"payload","action":"str","pretty":true,"x":750,"y":460,"wires":[["ed7e3292.567fd","b7e4ae75.f4094"]]},{"id":"2b27e4f9.6698bc","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/e2f3e97a972bd972/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":240,"wires":[["72c49965.8fd6f8"]]},{"id":"1c830daf.4198a2","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/cb6180c1fd494100/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":300,"wires":[["72c49965.8fd6f8"]]},{"id":"1a0f5e5c.3d4a52","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/115ef7b63af24cdf/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":360,"wires":[["72c49965.8fd6f8"]]},{"id":"8c48b715.fd8688","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/4b4585de59629013/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":420,"wires":[["72c49965.8fd6f8"]]},{"id":"8ff20b99.97db38","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/ae11a87d68de2060/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":480,"wires":[["72c49965.8fd6f8"]]},{"id":"92a41119.30419","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/9e680817f2919bfb/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":540,"wires":[["72c49965.8fd6f8"]]},{"id":"fbf401cd.48378","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/93c2c55918d3ccb3/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":600,"wires":[["72c49965.8fd6f8"]]},{"id":"b2afd3b8.4d401","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/bd192c1754df9c73/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":660,"wires":[["72c49965.8fd6f8"]]},{"id":"69721040.ea5b6","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/cb305deaf046f551/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":720,"wires":[["72c49965.8fd6f8"]]},{"id":"1d28fd8e.cd7e12","type":"mqtt in","z":"8323261b.44a1b8","name":"","topic":"application/1/device/497242231daf62d1/rx","qos":"2","datatype":"auto","broker":"8217d71b.9e81f8","x":240,"y":780,"wires":[["72c49965.8fd6f8"]]},{"id":"65f4631d.04023c","type":"mqtt-broker","z":"","name":"LocalBroker","broker":"192.168.1.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fdc4aadd.ac0458","type":"mqtt-broker","z":"","name":"LocalBroker","broker":"192.168.1.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8217d71b.9e81f8","type":"mqtt-broker","z":"","name":"Chiprstack","broker":"192.168.1.24","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]