Node-Red Flows/RunML (1).json
[{"id":"1d248945.419e27","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a8657394.ca3c8","type":"exec","z":"1d248945.419e27","command":"python /home/kalp/Desktop/ML/q_deterministic.py","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"ml","x":390,"y":200,"wires":[["6fd46846.ccb358","e25acdb.38fc93"],[],[]]},{"id":"e25acdb.38fc93","type":"mqtt out","z":"1d248945.419e27","name":"","topic":"Algorithm/Data","qos":"","retain":"","broker":"65f4631d.04023c","x":660,"y":200,"wires":[]},{"id":"ced2356.4e714c8","type":"function","z":"1d248945.419e27","name":"fire","func":"if (msg.payload==1){\n    var msg2 = {payload: msg.device_id};\n    return msg2;\n}\n","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["a8657394.ca3c8"]]},{"id":"40272e86.9f19a","type":"link in","z":"1d248945.419e27","name":"","links":["3c0dcf5d.70d4e","aa7e9d9f.d556c","b1f89f54.0ddf","363038e5.490128"],"x":155,"y":200,"wires":[["ced2356.4e714c8"]]},{"id":"6fd46846.ccb358","type":"debug","z":"1d248945.419e27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":300,"wires":[]},{"id":"cb8bf7c9.25c1d8","type":"inject","z":"1d248945.419e27","name":"","topic":"","payload":"dragino5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":280,"wires":[["a8657394.ca3c8"]]},{"id":"65f4631d.04023c","type":"mqtt-broker","z":"","name":"LocalBroker","broker":"192.168.1.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]